<script src="../../../node_modules/chart.js/src/chart.js"></script>

<app-search (notify)="onStepsReceived($event)" class="col-md-12 col-xs-12"></app-search>
<div class="col-md-6 col-xs-12">
<app-chart-wind-speed [steps]="steps" *ngIf="steps.length > 0"></app-chart-wind-speed>
  <app-chart-temperature [steps]="steps" *ngIf="steps.length > 0"></app-chart-temperature>
</div>
<app-map [steps]="steps" class="col-md-6 col-xs-12"></app-map>

