<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map *ngIf="steps.length > 0" [latitude]="Convert(steps[Math.floor(steps.length / 2)].lat)" [longitude]="Convert(steps[Math.floor(steps.length / 2)].lng)" [zoom]="6">
  <agm-marker *ngFor="let step of steps" [latitude]="Convert(step.lat)" [longitude]="Convert(step.lng)"></agm-marker>
</agm-map>
