<div class="col-md-4">
  <label for="travel">Fichier de navigation(KML): </label>
  <input type="file" id="travel" (change)="readInput($event)">
</div>
<div *ngIf="steps.length > 0" class="col-md-8">
  <label for="steps">Etape: </label>
  <select name="steps" id="steps">
    <option value="all" selected>Tout</option>
    <option *ngFor="let step of steps" value="{{step.name}}">{{step.name}}</option>
  </select>
</div>
